* {
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

.row {
	display: flex;
	height: 100vh;
}

.conteneur {
	width: 100%;
}

#menu_calque_login{
	z-index: 2;
	position: absolute;
	top: 25px;
	right:100px;
	font-family: 'Montserrat';
}

.contenu_menu_login ul{
	list-style: none;
}

.contenu_menu_login ul{
    display: flex;
	align-items: center;
	margin: 10px 0px;
	color: white;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 16px;
}


.contenu_menu_login li{
	margin-right: 20px;
}




.ligne_accueil_ez_pizza {
	justify-content:space-around;
}

.accueil_ez_pizza {
	width: 50%;
	position: relative;
	height:100%;
	transition: 0.5s ease;
}

.accueil_ez_pizza div img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.accueil_ez_pizza div {
	width: 100%;
	height: 100%;
	position: relative;
}

.accueil_ez_pizza span{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	color: white;
	text-transform: uppercase;
	font-size: 80px;
	transition: 0.4s;
}

.accueil_ez_pizza a:hover p{
	opacity: 1;
}

.accueil_ez_pizza i{
	font-style: normal;
}

.left:hover {
	width: 75%;
}

.left:hover .right {
	width: 25%;
}

.right:hover {
	width: 75%;
}

.right:hover .left {
	width: 25%;
}


span:hover {
	background-color: red;
	font-size: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left:20px;
	padding-right: 20px;
	border-radius: 10px;
}

.contenu_menu_login a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 11px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  transition: 0.4s;
}

.contenu_menu_login a:hover, a:active {
  background-color: red;

}

.accueil_ez_pizza .logo {
	width:150px;
	height:150px;
	position:absolute;
	z-index: 2;
	right:-75px;
	top:50%;
	transform:translateY(-50%);
}